* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #843700;
}

img {
    margin-left: 100px;
}

main {
    display: block;
    margin-top: 50px;
    margin-right: 661px;
    margin-left: 720px;
}

header {
    margin-bottom: 100px;
    padding: 20px;
    font-weight: 700;
    font-size: 45px;

}

h1 {
    color: #fff;
    

}

h3 {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    margin-left: 100px;
    margin-bottom: 20px;
}

button {
    background: #84dfaa;
    margin-top: 80px;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    border: none;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}



input {
    width: 200px;
    height: 64px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
    text-align: center;   
     
}

.input-result {
    width: 242px;
    height: 64px;
    margin-top: 20px;
    margin-left: 110px;
    display: flex;
    align-items: center;
    
    text-align: center;

}